<section class="edit-from__component">
  <mat-card>
    <p>Select Scopes</p>
    <div class="scopes__container">
      <input type="checkbox" name="tools" id="scope_1">
      <label for="scope_1">Region APJ</label>
      <input type="checkbox" name="tools" id="scope_2">
      <label for="scope_2">Region China NSB</label>
      <input type="checkbox" name="tools" id="scope_3">
      <label for="scope_3">Region India</label>
      <input type="checkbox" name="tools" id="scope_4">
      <label for="scope_4">Region Europe</label>
      <input type="checkbox" name="tools" id="scope_5">
      <label for="scope_5">Region LAT</label>
      <input type="checkbox" name="tools" id="scope_6">
      <label for="scope_6">Region MEA</label>
      <input type="checkbox" name="tools" id="scope_7">
      <label for="scope_7">Region NAM</label>
      <input type="checkbox" name="tools" id="scope_8">
      <label for="scope_8">China NSB</label>
      <input type="checkbox" name="tools" id="scope_9">
      <label for="scope_9">Indonesia</label>
      <input type="checkbox" name="tools" id="scope_10">
      <label for="scope_10">Philippines</label>
      <input type="checkbox" name="tools" id="scope_11">
      <label for="scope_11">South East Asia &amp; Oceania</label>
      <input type="checkbox" name="tools" id="scope_12">
      <label for="scope_12">Europe North East</label>
      <input type="checkbox" name="tools" id="scope_13">
      <label for="scope_13">Finland</label>
      <input type="checkbox" name="tools" id="scope_14">
      <label for="scope_14">Germany</label>
      <input type="checkbox" name="tools" id="scope_15">
      <label for="scope_15">Poland</label>
      <input type="checkbox" name="tools" id="scope_16">
      <label for="scope_16">Europe Central South</label>
    </div>
    <p>Select Tools</p>
    <div class="tools__container">
      <input type="checkbox" name="tools" id="tool_1">
      <label for="tool_1">SAP I24 006</label>
      <input type="checkbox" name="tools" id="tool_2">
      <label for="tool_2">SAP J24 006</label>
      <input type="checkbox" name="tools" id="tool_3">
      <label for="tool_3">​​HR BI & Analytics (SAP P32)</label>
      <input type="checkbox" name="tools" id="tool_4">
      <label for="tool_4">Success4U (S4U)</label>
      <input type="checkbox" name="tools" id="tool_5">
      <label for="tool_5">HR Ticketing Tool</label>
    </div>
  </mat-card>
</section>