<section class="disp-form__component">


<mat-card>

<mat-horizontal-stepper labelPosition="bottom">
  <mat-step label="Access Request">
  </mat-step>
  <mat-step label="Supplier Project Manger">
  </mat-step>
  <mat-step label="IT Project Manger">
  </mat-step>
  <mat-step label="IT Service Manger">
  </mat-step>
  <mat-step label="GHRS Validation">
  </mat-step>
  <mat-step label="HR Operations TSS">
  </mat-step>
  <mat-step label="GHRS assignment">
  </mat-step>
  <mat-step label="Completed">
  </mat-step>


</mat-horizontal-stepper>



</mat-card>

<div class="information__container">
    <mat-card>

      </mat-card>
<mat-card>
    <p>Select Scopes</p>
    <div class="scopes__container">
      <input type="checkbox" name="tools" id="scope_1">
      <label for="scope_1">Region APJ</label>
      <input type="checkbox" name="tools" id="scope_2">
      <label for="scope_2">Region China NSB</label>
      <input type="checkbox" name="tools" id="scope_3">
      <label for="scope_3">Region India</label>
      <input type="checkbox" name="tools" id="scope_4">
      <label for="scope_4">Region Europe</label>
      <input type="checkbox" name="tools" id="scope_5">
      <label for="scope_5">Region LAT</label>
      <input type="checkbox" name="tools" id="scope_6">
      <label for="scope_6">Region MEA</label>
      <input type="checkbox" name="tools" id="scope_7">
      <label for="scope_7">Region NAM</label>
      <input type="checkbox" name="tools" id="scope_8">
      <label for="scope_8">China NSB</label>
      <input type="checkbox" name="tools" id="scope_9">
      <label for="scope_9">Indonesia</label>
      </div>
    <p>Select Tools</p>
    <div class="tools__container">

      <input type="checkbox" name="tools" id="tool_1">
      <label for="tool_1">SAP I24 006</label>
      <input type="checkbox" name="tools" id="tool_2">
      <label for="tool_2">SAP J24 006</label>
      <input type="checkbox" name="tools" id="tool_3">
      <label for="tool_3">​​HR BI & Analytics (SAP P32)</label>
      <input type="checkbox" name="tools" id="tool_4">
      <label for="tool_4">Success4U (S4U)</label>
      <input type="checkbox" name="tools" id="tool_5">
      <label for="tool_5">HR Ticketing Tool</label>



    </div>

</mat-card>




</div>

</section>








































