<mat-drawer-container class="example-container">
  <mat-drawer class="side__nav" mode="side" opened>

    <div class="side__item">
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </div>
    <div class="side__item">
      <a routerLink="/new-form" routerLinkActive="active">New form</a>
    </div>
    <div class="side__item">
      <a routerLink="/edit-form" routerLinkActive="active">Edit form</a>
    </div>
    <div class="side__item">
      <a routerLink="/disp-form" routerLinkActive="active">Display form</a>
    </div>
    <div class="side__item">
      <a routerLink="/substitution" routerLinkActive="active"> Substitution </a>
    </div> 
    <div class="side__item">
      <a routerLink="/my-request-view" routerLinkActive="active"> My Request View</a>
    </div>
    <div class="side__item">
      <a routerLink="/search" routerLinkActive="active"> Search </a>
    </div>
    <div class="side__item">
      <a routerLink="/analytics" routerLinkActive="active"> Analytics </a>
    </div>
    <div class="side__item">
      <a routerLink="/configurations" routerLinkActive="active"> Configurations </a>
    </div>

  </mat-drawer>
  <mat-drawer-content>
    <div>
      <span>{{route}}</span>
    </div>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>